.env
node_modules
frontend/node_modules
backend/.env
backend/venv
backend/models
computer-vision
frontendnextjs
frontendnextjs/src/services/.env
frontend2.0/node_modules
frontend2.0/.env
frontend2.0/src/services/.env
backend/temp_images/predict